
#MainBody{
    width: 1200px;
}
#queryCondition{
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
}
label{
    display: inline-block;
    font-size: 18px;
    width: 10%;
    height: 100%;
    text-align: center;
}
input{
    border: 1px solid black;
    height: 80%;
    width: 20%;
    border-radius: 3px;
}
select{
    height: 100%;
    width: 20%;
    font-size: 15px;
}
/*hr{*/
/*    width: 100%;*/
/*}*/
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
table caption{
    font-size: 20px;
    letter-spacing: 20px;
    padding-bottom: 10px;
}

table th {
    border: 1px solid black;
    height: 40px;
    background: darkgray;
}

table td {
    border: 1px solid black;
    text-align: center;
    height: 40px;
}
button{
    font-size: 15px;
    width: 8%;
    height: 100%;
}
/*!*设置偶数颜色*!*/
/*tr:nth-child(2n)>td{*/
/*    color: #FFFFFF;*/
/*    background-color:lightgrey;*/
/*}*/